.container{
    width: 100%;
    display: block;
    margin: 0;
    height: 100%;
}
.nav ul{
    background-color: darkgray;
    padding: 0;
    position: sticky;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    overflow: hidden;
    list-style-type: none;
    margin: 0;
}
.nav ul li{
    float: left;
    margin: 0px;
    text-decoration: none;
    text-align: center;
}
.nav ul li a{
    display: block;
    padding: 3px;
    padding: 18px 20px;
    text-decoration: none;
    color: white;
}
.nav ul li:hover:not(.active){
    background-color: black;
    color: black;
    cursor: pointer;
    text-decoration: underline;
}
.active{
    background-color: black;
}
@media screen and (max-width:600px){
    div.nav ul li {float: none;}
}
